fastapi==0.115.8
fish_audio_sdk==2025.2.11
ipython==8.12.3
loguru==0.7.3
markitdown==0.0.1a4
multiprocessing_logging==0.3.4
numpy==1.24.3
protobuf==5.29.3
python-dotenv==1.0.1
Requests==2.32.3
sentence_transformers==3.4.1
torch==2.2.2
uvicorn==0.34.0
whisper==1.1.10
pydantic-settings==2.8.1
openai-whisper==20240930
PyMuPDF==1.25.4