### SERVER URL
SERVER_URL="http://...:8001"
SERVER_API_KEY="..."

### SPEECH TO TEXT
GROQ_API_KEY="gsk_..."
GROQ_API_MODEL="whisper-large-v3"

### LARGE LANGUAGE MODELS
API_URL="https://.../v1/chat/completions"
API_KEY="api-key"
API_MODEL="gpt-4o"

### API ENDPOINTS
WIKIPEDIA_API_URL="http://37.27.128.150:9999/search"
BILDUNGSPLAN_API_URL="http://213.173.96.19:8020/query"
PAPERS_API_URL="https://api.ask.orkg.org/index/search"
TOGETHER_API_URL="https://api.together.xyz/v1/images/generations"
SHOP_API_URL="http://localhost:3000"

### VIDEO SERVICES
VIDEO_SERVICE_URL="http://localhost:8083"

### TESTING
TEST_BASE_URL="http://localhost:8000"

### PDF PROCESSING
PDF_TO_MARKDOWN_BASE_URL="https://api.groq.com/openai/v1"