# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.DS_Store
.vscode

# Fresh build directory
_fresh/
# npm dependencies
node_modules/

docker-compose/caddy/Caddyfile
docker-compose/caddy/data
docker-compose/caddy/data/*
docker-compose/caddy/config
docker-compose/caddy/config/*
docker-compose/app/*

static/articles


ai-tasks-server/emottsvoices
ai-tasks-server/segments
ai-tasks-server/tts_segments
ai-tasks-server/.ropeproject
ai-tasks-server/__pycache__
ai-tasks-server/final_audiobook_input.xml
ai-tasks-server/input_audiobook.xml
ai-tasks-server/output_video.xml
ai-tasks-server/writing_cheat_sheet
ai-tasks-server/output_video.xml
ai-tasks-server/emottsvoices.tar
ai-tasks-server/.python-version
ai-tasks-server/sessions.json
ai-tasks-server/trace.json
__pycache__