# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# npm + other dependencies
node_modules/
vendor/

ai-tasks-server/**/__pycache__
ai-tasks-server/emottsvoices
ai-tasks-server/segments
ai-tasks-server/tts_segments
ai-tasks-server/emottsvoices.tar
ai-tasks-server/final_audiobook_input.xml
ai-tasks-server/input_audiobook.xml

docker-compose/caddy/config
docker-compose/caddy/data
docker-compose/caddy/Caddyfile/.cursor/Dockerfile
/.cursor/environment.json
/school-bud-e-mobile/
