@import "tailwindcss";

@theme {
  --color-primary-50: #e6f7fa;
  --color-primary-100: #cceff5;
  --color-primary-200: #99dfeb;
  --color-primary-300: #66cfe1;
  --color-primary-400: #33bfd7;
  --color-primary-500: #2BBDE5;
  --color-primary-600: #2297b7;
  --color-primary-700: #1a7189;
  --color-primary-800: #114c5c;
  --color-primary-900: #09262e;
  --color-surface: #fff;
  --color-surface-dark: #1a1a1a;
  --color-content: #000;
  --color-content-dark: #fff;
}

.fresh-gradient {
  background-color: rgb(134, 239, 172);
  background-image: linear-gradient(
    to right bottom,
    rgb(219, 234, 254),
    rgb(187, 247, 208),
    rgb(254, 249, 195)
  );
}

.message {
  & ol {
    list-style-type: decimal;
    display: flex;
    flex-flow: column;
  }

  & ul {
    list-style-type: disc;
    display: flex;
    flex-flow: column;
  }

  & li {
    margin-left: 1.5rem;
  }
  

}